<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update person</title>
</head>
<body>
<form th:method="PATCH" th:action="@{/people/{id} (id=${person.getId()})}" th:object="${person}">
    <label for="name">Enter name:</label>
    <input type="text" th:field="*{name}" id="name"/>
    <div style="color: red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name error</div>
    <br/>
    <label for="lastname">Enter lastname:</label>
    <input type="text" th:field="*{lastname}" id="lastname"/>
    <div style="color: red" th:if="${#fields.hasErrors('lastname')}" th:errors="*{lastname}">Lastname error</div>
    <br/>
    <label for="birthday">Enter birthday:</label>
    <input type="date" th:field="*{birthday}" id="birthday"/>
    <div style="color: red" th:if="${#fields.hasErrors('birthday')}" th:errors="*{birthday}">Birthday error</div>
    <br/>
    <input type="submit" value="Update!"/>
</form>
</body>
</html>